<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/2322dffb-4759-4969-91e6-428f6b445078/resourceGroups/cloudX/providers/Microsoft.ContainerRegistry/registries/romanpolikutkin</ResourceId>
    <ResourceName>romanpolikutkin</ResourceName>
    <ResourceGroup>cloudX</ResourceGroup>
    <Subscription>Visual Studio Professional Subscription</Subscription>
    <RegistryUrl>https://romanpolikutkin.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>b5e4f33c-4667-4a55-af6a-740f84c4cf3a</ProjectGuid>
  </PropertyGroup>
</Project>