<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://roman-polikutkin-delivery-order-processor-east-us.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/2322dffb-4759-4969-91e6-428f6b445078/resourceGroups/cloudX/providers/Microsoft.Web/sites/roman-polikutkin-delivery-order-processor-east-us</ResourceId>
    <UserName>$roman-polikutkin-delivery-order-processor-east-us</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://roman-polikutkin-delivery-order-processor-east-us.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>